header {
  background: #2563eb;
  color: white;
  padding: 12px 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}
.menu a {
  color: white;
  margin-right: 20px;
  text-decoration: none;
}

.auth .login {
  border: 1px solid white;
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 6px;
}

.auth .register {
  background: white;
  color: #2563eb;
  padding: 5px 10px;
  border-radius: 6px;
}
.back-btn {
  background-color: #df1e24;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 10px;
}

.back-btn:hover {
  background-color: #1a45c2;
}